#cv-form {
  width: 40vw;

  margin: 0 10px;
}

/* Form displayed in grid */
#cv-form > fieldset.personal,
#cv-form > fieldset.experience,
#cv-form > fieldset.education {
  display: grid;
  grid-template-columns: auto 1fr;
}

/* Padding in each fieldset */
#cv-form > fieldset {
  padding: 20px;
}

/* Spacing between form's input and label */
#cv-form > fieldset input {
  margin-left: 10px;
}

/* Stylizes textarea */
#cv-form > fieldset.summary textarea {
  width: 90%;
}
