#cv-form {
  width: 40vw;
}

/* Form displayed in grid */
#cv-form > fieldset.personal,
#cv-form > fieldset.experience {
  display: grid;
  grid-template-columns: auto 1fr;
}

/* Spacing between form's input and label */
#cv-form > fieldset input {
  margin-left: 10px;
}

/* Stylizes textarea */
#cv-form > fieldset.summary textarea {
  width: 90%;
}
