.preview {
  border: 1px solid black;

  margin: 0 10px;

  width: 40vw;
}

/* Styling for full name */
.preview .full-name {
  font-size: 36px;
  font-weight: bold;
}

/* Styling for contact info and location */
.preview .contact-info,
.preview .location-info {
  font-size: 24px;
}

/* Stylizes the summary */
.preview .summary p {
  font-style: italic;
}

/* Styles first bullet point in experience and education sections */
.preview .experience li.title,
.preview .education li.school {
  list-style-type: none;
  text-align: left;
  font-weight: bold;
}

/* Affects li in experience and education sectinos, except the first li in each. */
.preview .experience li:not(:first-child),
.preview .education li:not(:first-child) {
  position: relative;
  list-style: none;
  text-align: left;

  left: 20px;
  font-size: 18px;
}

/* Styles the title of each section */
.preview .section-title {
  font-size: 24px;
  font-weight: bold;
}
